@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Shippori+Mincho+B1:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(78, 78, 78) 100%);
}
#root {
    width: 100%;
}
h1 {
    margin: 2rem;
    font-family: 'Shippori Mincho B1', serif;
    text-align: center;
    color: rgb(230, 230, 230);
}

a {
    text-decoration: none;
    color: #000;

    h3 {
        color: rgb(117, 117, 117);
        display: block;
    }

    p {
        color: rgb(90, 90, 90);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

form {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    fieldset {
        width: 60%;
        padding: 2rem 0;
        border: none;

        .error {
            background-color: rgb(255, 61, 61);
            padding: 1rem;
            margin-bottom: 1rem;
            color: #000;
        }

        input {
            width: 100%;
            padding: 1rem;
            margin: 1rem 0;
            border: none;
            border-bottom: 1px solid rgb(113, 246, 255);
            color: rgb(255, 255, 255);
            font-family: 'Quicksand', sans-serif;
            font-size: 16px;
            outline: none;
            background-color: transparent;
        }

        p {
            color: red;
            padding: 0 1rem;
        }

        button {
            width: 100%;
            padding: 1rem;
            border: none;
            margin-top: 1rem;
            font-family: 'Quicksand', sans-serif;
            font-weight: 700;
            font-size: 16px;
            outline: none;

            &:hover {
                color: rgb(0, 0, 0);
                background-color: rgb(113, 246, 255);
            }
        }

        .success {
            background-color: rgb(159, 255, 80);
            color: darkgreen;
            margin-bottom: 1rem;
            padding: 1rem;
        }
    }
}