.product-container {
    display: flex;
    flex-wrap: wrap;
    h2 {
        color: rgb(113, 246, 255);
        margin-bottom: 1rem;
    }
    h3 {
        color: rgb(113, 246, 255);
        text-align: right;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    p {
        color: rgb(234, 254, 255);
        margin: 1rem;
    }

}